.random-planet {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
  }
  
  .random-planet .planet-image {
    max-width: 100%;   
    border-radius: 10px;
    margin-right: 1rem;
  }
  
  .random-planet .list-group {
    margin: 1px 8px 0px;
  }
  
  .random-planet .list-group-item {
    padding: .25rem;
  }
  
  .random-planet .list-group-item .term {
    margin-right: .5rem;
  }

  .planet-name h3{
    padding: 4px 14px;
    font-style: italic;
    font-size: 25px;
    color: #ffffff;
    background-color: #cf420d;
    border-radius: 6px;
  }

  .random-button {
    position: absolute;
    right: 0;
    top: 0;
  }

  .random-img-block{
    width: 17%;
  }

  .boom {
    font-weight: 700;
    display: block;
    text-align: center;
    color: yellow;
    font-size: 29px;
    font-style: italic;
  }

  .error-.indicator {
    font-size: 19px;
    color: #fdf0f0;
    font-family: cursive;
}

.boom img{
  width: 60px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}