.header{
    margin-top: .5rem;
    padding-left: 10px;
    justify-content: center;
}

.header ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 19px;
}

.header ul li{
    list-style: none;
    margin: 0;
    padding: .5rem 0rem;
    border-radius: 3px;
}

.header ul li:hover{
    background-color: rgb(238, 111, 8);
    
}

.header ul{
    padding-left: 12px;
}

img.logo {
    height: 45px;
}

